:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

form {
  margin-top: 20px;
}

input, select, button {
  margin: 5px;
  padding: 5px;
}

#container {
  background-color: grey;
  padding: 10px;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: auto; /* Set a fixed height for the container */
}

form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

label {
  margin-bottom: 2px; /* Add space between labels */
}
input {
  width: 50%;
}

button {
  margin-bottom: 16px; /* Add space between inputs and buttons */
  width: 140px;
  margin: auto;
  padding: 5px;
}

#options {
  display: flex;
  margin-bottom: 7px;
}